
.header-nav {
  background-color: white;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--HEADER-HEIGHT);

  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

  z-index: 100;
}



.nav-section-1 {
  padding-left: calc(var(--NON-SIDEBAR-PAGE-PADDING) / 2);
  width: max(20%, 200px);
}

.nav-section-2 {
  flex-grow: 1;

  padding-left: var(--NON-SIDEBAR-PAGE-PADDING);
}

/* This container acts as an anchor to the 
positioned button */
.search-bar-con {
  position: relative;
  width: fit-content;
}

.search-bar-con input {
  width: min(400px, 39vw);
  min-width: 200px;
  height: 40px;

  padding-left: 2rem;

  font-family: var(--SEC-FONT-FAMILY);

  border: var(--HEADER-BORDER);
  border-radius: 8px;
}

/* When search bar is focused, replaceoutline */
.search-bar-con input:focus {
  outline: var(--HEADER-BORDER);
}

/* Top and Bottom position set to 1 to account
for the   */
.search-bar-button {
  background-color: var(--SEC-COLOR);

  width: 3.5rem;

  border: var(--HEADER-BORDER);
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}



.nav-section-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max(22%, 250px);
  padding-right: var(--NON-SIDEBAR-PAGE-PADDING);

  color: var(--THIRD-COLOR);
  font-size: 1rem;
  font-family: var(--THIRD-FONT-FAMILY);
}

.nav-section-3 a, .nav-section-3 a:visited {
  color: var(--THIRD-COLOR);
  font-size: 1rem;
  font-family: var(--THIRD-FONT-FAMILY);
}

.nav-section-3 a:hover {
  color: hsla(160, 58%, 31%, 1);
}

.nav-section-3 a:active {
  color: hsla(280, 58%, 31%, 1);
}


.user-profile {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-family: var(--SEC-FONT-FAMILY);

  position: relative;
} 

/* Here, we create the logout button to appear on hover
and dissapear after leaving  */
.user-profile .logout-con {
  display: none;

  background-color: rgba(33, 63, 125, 0.1);
  color: var(--MAIN_COLOR);

  font-weight: 500;

  height: 50px;
  width: 100%;

  position: absolute;
  top: calc((var(--HEADER-HEIGHT) / 2) + 2px);

  transition: opacity 0.15s;
}

.user-profile:hover .logout-con {
  display: grid;
  place-content: center;
}

.user-profile:active .logout-con {
  opacity: 0.6;
}


/* Put spacing in between the profle elements */
.profile-spac {
  margin-right: 0.5rem;
}

.profile-pic {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}


/* Make the search bar smaller to fit smaller screen sizes */
@media (max-width: 768px) {
  .nav-section-1 {
    padding-left: 1%;
  }

  .nav-section-3 {
    width: max(22%, 200px);
    padding-right: 1%;
  }

  /* Create a class that can make items disappear from the page  */
  .header-element-disappear {
    position: absolute;
    left: -5000px;
  }

  .search-bar {
    width: min(400px, 39vw);
    min-width: 200px;
    height: 40px;
  
    padding-left: 0.5rem;
  
    font-family: var(--SEC-FONT-FAMILY);
  
    border: var(--HEADER-BORDER);
    border-radius: 8px;
  
  }
}