.main {
  font-family: var(--SEC-FONT-FAMILY);
}

.main h2 {
  font-weight: 500;
  color: var(--MAIN_COLOR)
}

/* Styles for the box display */
.box-display {
  margin: 40px 0px;
  color: var(--MAIN_COLOR);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.box {
  height: 160px;
  width: clamp(135px, 23.3%, 240px);

  border-radius: 4px;

  padding: 30px 2.91%;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white
}

.box-name {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--LIGHT)
}

.box-count {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .box {
    width: fit-content; 
    padding-right: 5px;
    padding-left: 10px;
  } 
}



/* Styles for the table */
.table-con {
  overflow-y: auto;
  background-color: white;
  color: var(--LIGHT);
}

.table-con table {
  width: 977px;
  margin: 30px 30px;
}

/* Create a bottom border for the table row */
.table-con hr {
  background-color: red;
}

.table-con thead th {
  font-size: 0.75rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.table-con thead th .con {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-con tbody td{
  padding: 15px 0;
  font-size: 0.875rem;
}

.table-con tbody .select{
  padding-left: 30px;
}

.status-button {
  border: none;
  padding: 6px 12px;
  border-radius: 1rem;
  cursor: pointer;
}

.inactive {
  background-color: rgba(84, 95, 125, 0.1);
  color: rgba(84, 95, 125, 1);
}

.actived {
  background-color: rgba(57, 205, 98, 0.1);
  color: rgba(57, 205, 98, 1);
}

.blacklisted {
  background-color: rgba(228, 3, 59, 0.1);
  color: rgba(228, 3, 59, 1);
}

.pending {
  background-color: rgba(233, 178, 0, 0.1);
  color: rgba(233, 178, 0, 1);
}

.paginate-con {
  margin: 20px 0;
  color: var(--LIGHT);
  display: flex;
  justify-content: space-between;
}

.select-con {
  margin: 10px;
  font-size: 0.875rem;
  font-weight: 500;
}

.select-con select, .select-con select:active {
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
  outline: none;
  
  background-color: rgba(33, 63, 125, 0.1);
  color: var(--MAIN_COLOR);
}
