.info-box {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-bottom: 30px;
}

.info-box:last-child {
  padding-bottom: 0;
}

.info-box h4 {
  font-weight: 600;
}

.info-group-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1fr);
  row-gap: 30px;
  column-gap: 20px;
  justify-content: space-between;
}

.info-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-group .key {
  color: var(--LIGHT);
  font-size: 0.75rem;
}

.info-group .value {
  font-weight: 500;
}

.info-box hr {
  opacity: 30%;
}

@media (max-width: 1024px) {
  .info-group-con {
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
  }
}

@media (max-width: 768px) {
  .info-group-con {
    grid-template-columns: repeat(1, 1fr 1fr);
  }
}

@media (max-width: 576px) {
  .info-group-con {
    grid-template-columns: repeat(1, 1fr);
  }
}
