/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Default CSS values */
:root {
  --HM-SECTION-BOX-SPACING: 6.6rem 4.2rem;
  --LIGHT: rgba(84, 95, 125, 1);
  --LIGHT-OP: rgba(84, 95, 125, 0.15);
  --MAIN_COLOR: rgb(33, 63, 125);
  --SEC-COLOR: rgb(57, 205, 204);
  --INPUT-HEIGHT: 3.2rem;
  --FONT-FAMILY: Avenir Next, sans-serif;
  --SEC-FONT-FAMILY: 'Work Sans', sans-serif;
  --THIRD-FONT-FAMILY: 'Roboto', sans-serif;
  --FORM-WIDTH: 467px;
  --THIRD-COLOR: rgb(33, 63, 125);
  --HEADER-BORDER: 1px solid rgba(33, 63, 125, 0.2);
  --HEADER-HEIGHT: 100px;

  /* Define the limits for the app width and height */
  --MIN-APP-WIDTH: 481px;
  --MIN-APP-HEIGHT: 100vh;
}

body {
  scroll-margin-top: 100px;
  min-height: 100vh;
  min-width: 481px;
}

.main {
  padding-top: var(--HEADER-HEIGHT);
  padding-left: 20%;
}


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Global class for any element that needs a pointer */
.pointer {
  cursor: pointer;
}

/* Sidebar styling starts here */
.sidebar-nav {
  position: absolute;
  top: var(--HEADER-HEIGHT);
  bottom: 0;

  width: max(20%, 100px);

  font-family: var(--SEC-FONT-FAMILY);

  color: var(--THIRD-COLOR);

  overflow-y: scroll;
}

/* .sidebar-section-1 {
  padding-top: 30px;
  padding-bottom: 30px;
} */

.sidebar-sect {
  padding-top: 20px;
  font-weight: 500;
  font-size: 0.75rem;
}
.section-title {
  padding-left: 10.5%;
}

.sidebar-child-con {
  height: 2.5rem;
  width: 100%;

  display: flex;
  align-items: center;

  opacity: 0.6;

  cursor: pointer;

  position: relative;

  margin: 10px 0;

}

/* This style will wrap the sidebar link when active */
.active {
  background-color: rgba(57, 205, 204, 0.1);
  opacity: 1;
}

/* This add an element that highlights the active
sidebar link */
.active::before {
  content: '';

  width: 3px;
  height: 2.5rem;
  
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  background-color: var(--SEC-COLOR);
}

/* Styling the div's of the individual element */
.sidebar-link-icon {
  margin-left: max(10.5%, 30px);
}

.sidebar-link-end-icon {
  margin-left: 10px;
}

.sidebar-nav-name {
  margin-left: 0.63rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .sidebar-nav-name {
    margin-left: 0.63rem;
    font-size: 1rem;
    position: absolute;
    left: -5000px;
  }

  .sidebar-child-con {
    height: 2.5rem;
    width: 100%;
  
    display: flex;
    align-items: center;
  
    opacity: 0.6;
  
    cursor: pointer;
  
    position: relative;
  
    margin: 10px 0;
  
  }
}

/* Additional designs for the switch organization */
.add-padding {
  margin-bottom: 40px;
}