/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Default CSS values */
:root {
  --HM-SECTION-BOX-SPACING: 6.6rem 4.2rem;
  --LIGHT: rgba(84, 95, 125, 1);
  --LIGHT-OP: rgba(84, 95, 125, 0.15);
  --MAIN_COLOR: rgb(33, 63, 125);
  --SEC-COLOR: rgb(57, 205, 204);
  --THIRD-COLOR: rgb(33, 63, 125);
  --INPUT-HEIGHT: 3.2rem;
  --FONT-FAMILY: Avenir Next, sans-serif;
  --SEC-FONT-FAMILY: "Work Sans", sans-serif;
  --THIRD-FONT-FAMILY: "Roboto", sans-serif;
  --FORM-WIDTH: 467px;
  --HEADER-BORDER: 1px solid rgba(33, 63, 125, 0.2);
  --HEADER-HEIGHT: 100px;
  --SIDEBAR-LEFT-PADDING: 10.5%;
  --NON-SIDEBAR-PAGE-PADDING: 4.17%;

  /* Define the limits for the app width and height */
  --MIN-APP-WIDTH: 481px;
  --MIN-APP-HEIGHT: 100vh;
  --STANDARD-BOX-SHADOW: 3 5 20 rgba(0, 0, 0, 0.04);
  --STANDARD-BORDER-RADIUS: 0.25rem;
}

.root {
  min-height: 100vh;
}

.dashboard {
  padding-top: calc(var(--HEADER-HEIGHT) + 60px);
  padding-left: 24.17%;
  padding-right: var(--NON-SIDEBAR-PAGE-PADDING);
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 768px) {
  .dashboard {
    padding-left: max(20%, 100px);
    padding-right: 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Global class for any element that needs a pointer */
.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.vert {
  height: 80px;
  width: 1px;

  background-color: var(--LIGHT);
  opacity: 20%;
}

.bold {
  font-weight: 500;
}
