/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Default CSS values */
:root {
  --HM-SECTION-BOX-SPACING: 6.6rem 4.2rem;
  --LIGHT: rgba(84, 95, 125, 1);
  --LIGHT-OP: rgba(84, 95, 125, 0.15);
  --MAIN_COLOR: rgb(33, 63, 125);
  --SEC-COLOR: rgb(57, 205, 204);
  --INPUT-HEIGHT: 3.2rem;
  --FONT-FAMILY: Avenir Next, sans-serif;
  --SEC-FONT-FAMILY: 'Work Sans', sans-serif;
  --FORM-WIDTH: 467px;
  --THIRD-COLOR: rgb(33, 63, 125);
  --HEADER-BORDER: 1px solid rgba(33, 63, 125, 0.2);
}

/* Header styles code Starts Here */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

